<p>Customer Information</p>
<div>
  <div class="contact-container">
    <div class="sections">
      <h3>Customer</h3>
      <div class="middle-section">
        <h4 class="contact-input-medium">Name: Richie Sam</h4>
        <h4 class="contact-input-medium">ID: 12345</h4>
      </div>
    </div>
  </div>
  <div style="margin-top: 20px" class="contact-container">
    <div class="sections">
      <h3>Dynamic Fields from DB fetch</h3>
      <div class="middle-section">
        <dynamic-fields [fields]="dynamicFields"></dynamic-fields>
      </div>
    </div>
  </div>
</div>